forfn(prefix,prop)
    for $key,$value in $colors
        if typeof($value)==object
            for $sub-key,$sub-value in $value
                .{BEM(prefix,$key,$sub-key)}
                    {prop} $sub-value
                if $sub-key=='500'
                    .{BEM(prefix,$key)}
                        {prop} $sub-value
        else
            .{BEM(prefix,$key)}
                {prop} $value

forfn(fgc,color);
forfn(bgc,background-color);
.bgc_current
  background-color: currentColor;
