// $items = $merge($justify-content,$align-items)
// for $k,$v in $justify-content
//     .{BEM(justify,,$k)}
//       justify-content: $v;
//     .{BEM(self,v,$k)}
//       justify-content: $v;
// for $k,$v in $align-items
//     .{BEM(items,,$k)}
//       align-items: $v;
//     .{BEM(self,h,$k)}
//       align-items: $v;

// for $k,$v in $items
//   .{BEM(content,,$k)}
//     align-content: $v;




// // @supports not (display:grid)
// .row
//     display: flex
//     flex-wrap: wrap
//     &:after
//         content: ""
//         display table
//         clear: both

// .col
//     float: left
//     min-width: 1px

// for n in 1...$grid-count+1
//     $percent = tofixed(n)
//     .{BEM(col,"",n)}
//       width: $percent
//     .{BEM(offset,"",n)}
//       margin-left: $percent


// for item in xs sm md lg xl
//     $v = lookup("$gutter-"+item)
//     .{BEM(gutter,,item)}
//         margin-right: - $v
//         margin-bottom: - $v
//         &>.{BEM(col)}
//             padding-right: $v
//             padding-bottom: $v
//         &.{BEM(gutter,,spacing)}
//             padding-left: $v
//             padding-top: $v
// .{BEM(gutter,,spacing)}
//   margin: 0
//         // for n in 1...$grid-count+1
//         //     $percent = tofixed(n)
//         //     &>.{BEM(col,"",n)}
//         //         width: "calc(%s - %s)" % ($percent $v)





