for item in 0...$max-font-size+1
    if item==0 or (even(item) and item>11)
        .{BEM(font,size,item)}
            font-size: item*1px

for item in lighter normal bolder
    .{BEM(font,weight,item)}
        font-weight: item

for item in italic normal
    .{BEM(font,style,item)}
        font-style: item

for item in left right center justify
    .{BEM(horiz-align,"",item)}
        text-align: item

for item in top bottom middle baseline sup super
    .{BEM(vert-align,"",item)}
        vertical-align: item
.ellipsis
    overflow hidden
    text-overflow: ellipsis
    white-space: nowrap

for item in 2...3
    .{BEM(ellipsis,"",item)}
        @supports(-webkit-line-clamp:1)
            display: -webkit-box
            -webkit-box-orient:vertical
            -webkit-line-clamp:item
            overflow: hidden
        @supports not (-webkit-line-clamp:1)
            box-sizing: content-box
            height: item*1em*$body-default-line-height
            overflow: hidden
            position: relative
            &:after
                content: "..."
                position: absolute
                bottom: 0
                right: 0
                padding-right: 4px
                background-color: inherit
$text-decoration={
    init:initial
    under:under-line
    over: over-line
    through: line-through
}

for $k,$v in $text-decoration
    .{BEM("text-desc","",$k)}
        text-decoration: $v

for $v in normal nowrap
    .{BEM("white-space","",$v)}
        white-space: $v

for $v in normal break-word
    .{BEM("word-wrap","",$v)}
        word-wrap: $v

for $v in 1 1.5 2 2.5 3
    .{BEM("line-height","",$v)}
        line-height: $v

.{BEM(font,size,smaller)}
    font-variant: all-petite-caps;
    font-variant: all-small-caps
