body
  font $body-default-font-size/$body-default-line-height $body-default-font-family

for $v in left right none
    .{BEM(float,"",$v)}
      float: $v

for $item in visible auto scroll overlay
  for $sub in "" x y
    .{BEM(over,$sub,$item)}
      overflow{prefix($sub)} $item
.square
  position relative
  overflow hidden
  &--overable
    overflow visible
  &:before
    content: ""
    padding-top:100%;
    display:inline-block;
    vertical-align: middle
  &--img
    text-align: center
    >img
      vertical-align: middle
  &_view
    &--center
      position absolute
      left 50%
      top 50%
      transform translate(-50%,-50%)
      width fit-content





// gutter(item,n)
//   .gutter__{item}
//       margin-right - n
//       margin-bottom - n
//       >.col
//         margin-right n
//         margin-bottom n
//       for number in 1...$grid-count
//         $percent = floor(percentage(number/$grid-count),3)
//         >.col-{number}
//           flex: 0 0 "calc(%s - %s)" % ($percent n)

// +prefix-classes('cm-')
//   .row
//     display flex
//     flex-flow: row wrap
//   .col
//     float left
//     min-width: 0
//   col()


//   for item,index in xs sm md lg xl
//     gutter(item,lookup("$gutter-"+item))

