*
    margin 0
    padding 0
    box-sizing border-box

html
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;

h1, h2, h3, h4, h5, h6
  font-size: 1em;

ol, ul
  list-style none

pre, code, kbd, samp
  font-family: inherit;
  font-size: 1em;

a
  background-color: transparent;
  text-decoration: none
  color: inherit

:focus
  outline: 0
img
  border-style: none;
  max-width 100%
  border 0

button, input, optgroup, textarea
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit
  appearance: none;
  border 0
  background: 0;
  outline 0

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner
  border: none

textarea
  overflow: auto;

legend
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal;

progress
  vertical-align: baseline;

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button
  height: auto;

[type="search"]
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px;

[type="search"]::-webkit-search-decoration
  -webkit-appearance: none;

::-webkit-file-upload-button
  -webkit-appearance: none; /* 1 */
  font: inherit;



