$points={
  xs:0
  sm:600px
  md:1024px
  lg:1440px
  xl:1920px
}





$grid-count = 24
$max-font-size = 48

$gutter-xs=8px
$gutter-sm=16px
$gutter-md=24px
$gutter-lg=32px
$gutter-xl=40px

$body-default-font-size = 14px
$body-default-line-height = 1.5
$body-default-font-family = "Roboto, Noto, Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;"


$justify-content = {
  start:flex-start
  end:flex-end
  between:space-between
  around:space-around
  evenly:space-evenly
  stretch:stretch
  center:center
}

$align-items = {
  start:flex-start
  end:flex-end
  center:center
  stretch:stretch
  baseline:baseline
}


$red={
'100':#FFCDD2
'300':#E57373
'500':#F44336
'700':#D32F2F
'900':#B71C1C
}
$pink={
'100':#F8BBD0
'300':#F06292
'500':#E91E63
'700':#C2185B
'900':#880E4F
}
$purple={
'100':#E1BEE7
'300':#BA68C8
'500':#9C27B0
'700':#7B1FA2
'900':#4A148C
}
$deep-purple={
'100':#D1C4E9
'300':#9575CD
'500':#673AB7
'700':#512DA8
'900':#311B92
}
$indigo={
'100':#C5CAE9
'300':#7986CB
'500':#3F51B5
'700':#303F9F
'900':#1A237E
}
$blue={
'100':#BBDEFB
'300':#64B5F6
'500':#2196F3
'700':#1976D2
'900':#0D47A1
}
$light-blue={
'100':#B3E5FC
'300':#4FC3F7
'500':#03A9F4
'700':#0288D1
'900':#01579B
}
$cyan={
'100':#B2EBF2
'300':#4DD0E1
'500':#00BCD4
'700':#0097A7
'900':#006064
}
$teal={
'100':#B2DFDB
'300':#4DB6AC
'500':#009688
'700':#00796B
'900':#004D40
}
$green={
'100':#C8E6C9
'300':#81C784
'500':#4CAF50
'700':#388E3C
'900':#1B5E20
}
$light-green={
'100':#DCEDC8
'300':#AED581
'500':#8BC34A
'700':#689F38
'900':#33691E
}
$lime={
'100':#F0F4C3
'300':#DCE775
'500':#CDDC39
'700':#AFB42B
'900':#827717
}
$yellow={
  '100':#FFF9C4
  '300':#FFF176
  '500':#FFEB3B
  '700':#FBC02D
  '900':#F57F17
}
$amber={
  '100':#FFECB3
  '300':#FFD54F
  '500':#FFC107
  '700':#FFA000
  '900':#FF6F00
}
$orange={
  '100':#FFE0B2
  '300':#FFB74D
  '500':#FF9800
  '700':#F57C00
  '900':#E65100
}
$deep-orange={
  '100':#FFCCBC
  '300':#FF8A65
  '500':#FF5722
  '700':#E64A19
  '900':#BF360C
}
$brown={
  '100':#D7CCC8
  '300':#A1887F
  '500':#795548
  '700':#5D4037
  '900':#3E2723
}
$gray={
  '50':#FAFAFA
  '100':#F5F5F5
  '200':#EEEEEE
  '300':#E0E0E0
  '400':#BDBDBD
  '500':#9E9E9E
  '600':#757575
  '700':#616161
  '800':#424242
  '900':#212121
}
$blue-gray={
  '100':#CFD8DC
  '300':#90A4AE
  '500':#607D8B
  '700':#455A64
  '900':#263238
}


$colors={
  'red':$red
  'pink':$pink
  'purple':$purple
  'deep-purple':$deep-purple
  'indigo':$indigo
  'blue':$blue
  'light-blue':$light-blue
  'cyan':$cyan
  'teal':$teal
  'green':$green
  'light-green':$light-green
  'lime':$lime
  'yellow':$yellow
  'amber':$amber
  'orange':$orange
  'deep-orange':$deep-orange
  'brown':$brown
  'gray':$gray
  'blue-gray':$blue-gray
  'black':#000000
  'white':#ffffff
}








BEM(b,e="",m="",m2="")
  $e=e?"_"+e:e
  $m=m?"--"+m:m
  $m2=m2?"--"+m2:m2

  return b+$e+$m+$m2

prefix(n)
  n?"-"+n:""

$merge()
  $list={}
  for $arg in arguments
    for $key,$item in $arg
      $list[$key]=$item
  return $list
